.about-page-container .header-emoticon:hover
{
    animation: hand-wave 1.5s;
    animation-iteration-count: infinite;
}

@keyframes hand-wave {
    0%  {transform: rotate(15deg);}
    25% {transform: rotate(-15deg);}
    50% {transform: rotate(15deg);}
    75% {transform: rotate(-15deg);}
    100% {transform: rotate(15deg);}

    
}


