.accountcard-container
{
    display: inline-block;
    background-color: var(--navbar-color);
    border-style: solid;
    border-radius: 5px;
    border-width: 5px;
    border-color: var(--navbar-color);
}

.accountcard-container  p
{
    color: var(--basic-text-color);
}

.accountcard-container button
{
    background-color: #c9e1fd;
    text-align: center;
    border-radius: 4px;
    padding:var(--login-button-padding);
    margin: 1rem;
}


.accountcard-container button:hover
{
    background-color: var(--login-button-hover-color);
    
}

.accountcard-container div
{
    display: flex;
}

.accountcard-container span
{
    display: inline;
}

.accountcard-mutable-field input
{
    padding: 0.25rem;
    margin-bottom: 1rem;
    margin-left: 0rem;
}

.accountcard-mutable-field label
{
    margin: 1rem;
    color: #E9F1FA;
    text-shadow: 1px 1px 10px var(--basic-text-color);
}

.accountcard-mutable-field .empty-value::after
{
    content: "EMPTY";
    color: red;
    text-decoration: underline;
}