.contact-card
{
    border-radius: 10px;
    border: 5px;
    border-color: var(--border-color);
    border-style: ridge;
    display:flex;
    flex-direction: column;
}

.contact-card .contact-desc:hover
{
    color: var(--contact-info-hover-color);
}
