.navbar {
  background-color: var(--navbar-color);
  color: var(--navbar-text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

.navbar ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  align-items: stretch;
}

.navbar a {
  color: inherit;
  text-decoration-line: none;
  height: 100%;
  display: flex;
  padding: 0.25rem;
  align-items: center;
  cursor: pointer;
}

.navbar li a.active
{
  background-color:var(--navbar-active-tab-color);
}

.navbar li:hover
{
  background-color:var(--navbar-hover-color);
}

.navbar .site-title
{
  font-size: 1.7rem;
}

