:root {
  font-family: "Inter", sans-serif;

  text-rendering: optimizeLegibility;
  font-synthesis: weight style small-caps;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text size adjust either 100% or none */
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #D6E5E3;
}

.page-header
{
  font-size:2rem;
  margin: 1rem;
  margin-right: 0rem;
}

.page-header::before
{
  content: "";

  height: 1em;
  width: 0.25em;
  display: inline-block;
  vertical-align: -15%;
  background: #508484;
  margin-left: -1rem;
}
